*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Space Mono", monospace;
}

.main {
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.header {
    font-family: "Inconsolata", monospace;
    font-size: 1.5em;
    padding: 1rem 2.5rem;
}

.header span {
    cursor: pointer;
}

.container {
    overflow: scroll;
    font-family: "Space Mono", monospace;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;
    flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
    .container {
        padding: 0 1rem;
    }
}

.image-container {
    max-height: 447.43px;
    width: 45.01%;
    max-width: 539.22px;
}

@media screen and (max-width: 769px) {
    .image-container {
        width: 100%;
    }
}

.image-container img {
    width: 100%;
}

.info-container {
    width: 50%;
}

@media screen and (max-width: 769px) {
    .info-container {
        width: 100%;
    }
}

.info-heading {
    font-weight: 700;
    font-size: 4em;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .info-heading {
        font-size: 3em;
    }
}

@media screen and (max-width: 480px) {
    .info-heading {
        font-size: 2.9em;
    }
}

.info-body {
    font-weight: 400;
    font-size: 1.5em;
    max-width: 390px;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

@media screen and (max-width: 480px) {
    .info-body {
        font-size: 1em;
    }
}

.info-button {
    font-weight: 700;
    font-size: 0.875em;
    background-color: #333333;
    color: #ffffff;
    cursor: pointer;
    width: 216px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    color: #bdbdbd;
    text-align: center;
    padding: 1rem 0;
    font-family: "Montserrat", sans-serif;
}

footer a {
    color: inherit;
    font-weight: bold;
}
